# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_HOME=/opt/cpanel/ea-tomcat85
Environment=CATALINA_BASE=/opt/cpanel/ea-tomcat85

PIDFile=/var/run/catalina.pid
ExecStart=/opt/cpanel/ea-tomcat85/bin/startup.sh
ExecStop=/opt/cpanel/ea-tomcat85/bin/shutdown.sh

TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
